
        .rumah {
            width: 80;
            margin: auto;
        }
        .kompetensi {
            color: red;
            font-style: italic;
            font-size: large;
        }
        .pendikan {
            height: 500px;
        }
        .huruf {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: xx-large;
            font-weight: 500;
        }
        .jarak {
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .warna {
            background-color: yellow;
        }
